@model Economat_v2.Models.Numar_Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Numar_Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar_Inceput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar_Inceput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar_Sfarsit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar_Sfarsit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar_Curent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar_Curent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
