@model IEnumerable<Economat_v2.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CIM_Angajat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume_Angajat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar_Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip_Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suma_Totala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suma_Platita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restanta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar_Factura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CIM_Angajat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume_Angajat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar_Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip_Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suma_Totala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suma_Platita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Angajat.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companie.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar_Factura.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
